* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 300px;
}

header {
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.pageTitle {
    text-align: center;
    margin-bottom: 10px;
}

main {
    display: flex;
}
.avatar {
    border: 3px solid black;
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    padding-bottom: 20px;
    
}

    .avatar > img {
        width: 60px;
    }

    .avatar > *{
        display: block;
        /* text-align: center; */
    }

.feed {
    flex: 3;
}
.block {
    border: 3px solid black;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 50px;
    font-family: sans-serif;
}

.div1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

h2 {
    flex: 2;
}

.likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* vertical-align: middle; */
    flex: 1;
    font-weight: bold;
}

button {
    background-color: #f9da78;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 3px 10px;
}