/* RESET TO DEFAULT */
* {
    padding: 0;
    margin: 0 auto;
    font-family: sans-serif;
}
/* 
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} */
nav {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}



h1 {
    color: white;
}
ul {
    /* flex: 2; */
    display: flex;
    color: white;
    flex: flex-start;
    /* justify-content: space-between; */
    align-items: center;
    list-style-type:none;
    margin-left: 141px;
}
li {
    /* padding: 5px; */
    margin: 0 20px;
}

/* a {
    color: white;
    text-decoration: none;
} */
button {
    /* flex: 1; */
    /* width: 25px; */
    padding: 5px;
    background-color: #16A1B8;
    box-shadow: 2px 1px 2px black;
    border: 1px solid black;
    color: white;
    margin-right: 162px;
}

/* h3, h5 {
    font-weight: lighter;
} */

/* #active {
    font-weight: bold;
} */
.twoo {
    border: 1px solid #cccccc;
    border-radius: 45%;
    padding: 2px 6px;
    background-color: #cccccc ;
    color: #333333;
    margin-right: 5px;
    
}
/* CONTAINER CONTENT */
.container {
    margin: auto;
    padding: auto;
    /* width: 1000px; */
    /* min-height: 500px; */
    /* background-color: #cd1cbb; */
    /* padding: 10px; */
}

/* nav {
    background-color: red;
    padding: 10px;
    margin-bottom: 20px;

} */

main {
    background-color: white;
    padding: 10px 50px;
    margin: 0 100px;
    display: flex;
    justify-content: space-evenly;
    
}

main > div {
    margin: 20px;
}
.info {
    /* margin-bottom: 100px; */
    background-color: white;
    flex: 2;
    /* padding: 0 20px; */

}

.profile {
    background-color: white;
    border: 2px solid gray;
    margin-bottom: 30px;
}

p > img {
    width: 10px;
    margin-right: 10px;
}

#icon2 {
    width: 15px;
    margin-right: 10px;
}

.data > * {
    margin-bottom: 10px;
}

#jane {
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
    position: relative;
    top: -52px;
    left: 36px;
}

/* ++++++++++++++++++++ */
/* .notif {
    background-color: #16A1B8;
    flex: 1;
} */

.cover {
    background-color: #619cb1;
    height: 90px;
}

.data {
    /* padding: 20px; */
    position: relative;
    top: -42px;
    left: 36px;
}

/* .Name {
    padding: 20px;
} */
.notif {
    flex: 1;
    background-color: white;
    /* border: 2px solid red; */

}

p > img:not(#icon){
    vertical-align:middle;
}
/* .indiv > p > span {
    padding: 5px;
} */

.view {
    border-width: 2px;
    border-color:gray;
    border-top-style: solid;
    padding: 5px;
    padding-left: 20px;
}
/* .requests {
    padding: 20px;
    background-color: aliceblue;
    border: 2px solid green;
    text-align: center;
} */

/* .requests > .header1 {
    background-color: chocolate;
    width: 100%;
    color: white;
    padding: 10px;
    
} */

.one, .second{
    background-color: white;
    border: 2px solid gray;
    margin: 0 ;

}
.one {
    margin-bottom: 30px;
}
/* .one > h4{ */
    h4{
    /* text-align: center; */
    padding: 10px;
    color: white;
    background-color: #333333;
}
.education {
    border: 2px solid gray;
}
.experience {
    padding: 10px;
    background-color: white;
}

.experience > *{
    margin: 10px;
}

.date {
    color: gray;
}
/* .header1 > .two {
    background-color: blanchedalmond;
    color: chocolate;
    border-radius: 50%;
    padding: 5px;
} */

.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.indiv {
    flex: flex-start;
    margin-left: 10px;
}
.yesorno {
    flex: flex-end;
    margin-right: 10px;
}
.indiv > p >img {
    border: 2px solid black;
    width: 25px;
    border-radius: 50%;

    /* display: inline-block; */
}

.yesorno > img {
    width: 25px;
}